#content-header
	.location #{location.location.name}
	.add-plot(location=location._id) + Add plot
#inner-content
	#plots.list
		.top
			.top-item.plot-number Plots
			.top-item.time Time
			.top-item.temp Temp
			.top-item.moisture Moisture

		.rows
			each plot in locations[0].plots
				.plot.row
					.plot-number plot ##{plot.info.plotnumber}
					.time #{plot.current.timestamp.string}
					.temp #{plot.current.temp}
					.moisture #{plot.current.moisture}
					.view-data(plot=plot._id, location=locations[0].location.name)
						span view data
					.edit-plot(plot=plot._id, location=locations[0]._id)
						span edit