.plot.row(status="up" id=plot._id) 
	.name.value Plot #{plot.info.plotnumber}
	.status.value 
		.marker
		.time #{plot.current.timestamp.string}
	.temp.value  #{plot.current.temp}&#8457;
	.moisture.value  #{plot.current.moisture}
	.manual.value(plot=plot._id) Manual Measurements
	.edit.value(location=location._id plot=plot._id) edit info