#content-header
	.location location
	a.back(href='/dashboard') &larr; back to plots
#inner-content
	.inner-header
		.title plot #
	form#edit-plot(method="post")
		.title Plot #{plot.info.plotnumber}
		.crops
			.title Crops
			ul.inputs
				if plot.info.crops
					each crop in plot.info.crops
						li
							input(class="crop" type="text" value="#{crop}")
			.add-crop + add crop
		.vwc
			.title VWC Measurements
			ul
				li
					span saturation
					input.saturation(type="number" value='#{plot.info.vwc.saturation||0}')
				li
					span capacity
					input.capacity(type="number" value='#{plot.info.vwc.capacity||0}')
				li
					span dry
					input.dry(type="number" value='#{plot.info.vwc.dry||0}')
		input#update-plot(type="submit" value="Save")
script.
	$(document).ready( function() {
		$('.add-crop').click(function() {
			$('.crops .inputs').append('<li><input class="crop" type="text"></li>')
		})

		$('.close').click(function() {
			$('#overlay').fadeOut(200)
			setTimeout(function(){
				$('#overlay').remove()
			}, 200)
		})

		$('#update-plot').click(function(event) {
			event.preventDefault();
			var crops = [];
			$('input.crop').each( function() {
				var crop = $(this).val()
				if(crop) {
					crops.push(crop)
				}
			})
			var data = {
				crops: crops,
				saturation: $('input.saturation').val(),
				capacity: $('input.capacity').val(),
				dry: $('input.dry').val()
			}
			console.log(data)
			var url = '/edit/' + $('#overlay').attr('location') + "/" + $('#overlay').attr('plot')
			$.post(url, data, function(data, status){
				if(status == 'success') {
					console.log('plot updated')
				}
			});
		})
	})
