extends ../layout

block content
	include ../sidebar.jade

	#content
		#center
			#content-header
				.location #{location.location.name}
				a.back(href='/d/#{location._id}') &larr; plots
			#inner-content
				.inner-header
					.title plot #{plot.info.plotnumber}
					.datasets
						a.set.active(href='/d/#{location._id}/#{plot._id}') sensor data
						a.set(href='/m/#{location._id}/#{plot._id}') biomass
					.growing 
						div Currently growing: 
						for plant in plot.info.crops
							span  #{plant}
				#plot.list
					.top
						.top-item.timestamp timestamp
						.top-item.moisture moisture
						.top-item.temp temperature

					.rows
						each row in data
							.plot.row(plot=plot._id)
								//- .timestamp #{row.timestamp}
								.timestamp #{row.date.month}/#{row.date.day}/#{row.date.year} #{row.date.hour}:#{row.date.minute} #{row.date.period} 
								.moisture #{row.vwc}/100
								.temp #{row.temp}